In [1]:
import numpy as np
import pandas as pd
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [2]:
# https://stackoverflow.com/questions/21971449/how-do-i-increase-the-cell-width-of-the-jupyter-ipython-notebook-in-my-browser

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:98% !important; }</style>"))

In [3]:
import os
import gc
import time
import copy
import torch
import meth_model_utils as u

In [4]:
import warnings
warnings.simplefilter('ignore')

---
---
---

#  Featuring NSCLC_METH_BIOMARKERS

In [5]:
PATH = "D:/CANCER BIOLOGY/DATASET/TCGA/FROM Xena/"

In [6]:
seeds = [315, 316, 317, 318, 319, 320, 321, 322, 323, 324]

In [7]:
essential_genes = []

In [8]:
for seed in seeds:
    gene_list_path = PATH+"project_summary_seed_wise_meth/seed="+str(seed)+"/deg_1000.kd"
    with open(gene_list_path, "r") as file:
        for gene in file:
            gene=gene.strip()
            essential_genes.append(gene)

In [9]:
essential_genes.sort()

In [10]:
df_essential_genes = pd.Series(essential_genes).value_counts().reset_index()

In [11]:
df_essential_genes.rename(columns={'index':'Gene Names', 0:'Frequency'}, inplace=True)

In [12]:
df_essential_genes

     Gene Names  Frequency
0        SNORA9          6
1         CCNT2          5
2      C18orf18          5
3        CCDC15          5
4         EXOC6          5
...         ...        ...
4416      HYDIN          1
4417        HYI          1
4418      HYLS1          1
4419      ICA1L          1
4420     ZYG11B          1

[4421 rows x 2 columns]

In [13]:
genes_freq_5_or_above = list(df_essential_genes.loc[df_essential_genes['Frequency']>=5, 'Gene Names'])

In [14]:
len(genes_freq_5_or_above)

7

In [15]:
genes_freq_5_or_above.sort()

In [16]:
genes_freq_5_or_above

['C18orf18', 'CCDC15', 'CCNT2', 'EXOC6', 'SNORA9', 'THOP1', 'TNPO2']

In [17]:
with open(PATH+"project_summary_seed_wise_meth/essential_genes_1000.kd", "w") as file:
    for gene in list(genes_freq_5_or_above):
        file.write("%s\n" % gene)

c18orf18 --> tp53lc13 --> tp53 druggable https://genome.cshlp.org/content/32/6/1026.full (@article{xu2022tp53,
  title={TP53-inducible putative long noncoding RNAs encode functional polypeptides that suppress cell proliferation},
  author={Xu, Wenli and Liu, Chang and Deng, Bing and Lin, Penghui and Sun, Zhenghua and Liu, Anrui and Xuan, Jiajia and Li, Yuying and Zhou, Keren and Zhang, Xiaoqin and others},
  journal={Genome Research},
  pages={gr--275831},
  year={2022},
  publisher={Cold Spring Harbor Lab}
})

thop1 --> druggable
ccnt2 --> druggable

tnpo2 --> regulates apoptosis via hur protein (https://www.sciencedirect.com/science/article/pii/S0021925819485852?via%3Dihub#FN1)
(https://pharos.nih.gov/targets/TNPO2#ppi)

---
---
---

#  Level 3 complete !!